mat-card {
  width: 50%;
  margin: 24px auto;
  padding: 32px;

  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    mat-form-field {
      width: 80%;
    }
  }
}
